body {
    width: 1386px;
    height: 1960.2px;
    margin: 0 auto;

    display: flex;

    font-family: 'Open Sans', sans-serif;
    font-size: 17.7pt;
}

h1 {
    margin: 0;
    padding-bottom: 0.7em;
    text-align: center;
    text-transform: uppercase;
    font-size: 55pt;
}

h2 {
    font-size: 31pt;
    margin: 0.15em 0;
}

h3 {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    font-size: 1.1em;
    text-decoration: underline;
    text-align: left;
}

h4 {
    margin-top: 0.5em;
    margin-bottom: 0.1em;
    font-size: 17.7pt;
    text-align: left; 
}

table {
    width: 100%;
}

td {
    vertical-align: top;
}

a {
    color:#fffffa;
    text-decoration: none;
}

#side-section {
    width: 37%;
    height: inherit;
    margin: 0;

    display: flex;

    background-color: #056296;
}

#side-section-content {
    margin: 1.5em;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    color: #fffffa;
}

#side-section-content hr {
    margin-bottom: 0;
    border: 5px solid #fffffa;
}

#side-section-contacts td {
    padding: 0.3em 0.2em;
    vertical-align: middle;
}

#side-section-contacts .contact-images {
    vertical-align: top;
}

#side-section-contacts .contact-images > img {
    width: 100%;
}

#side-section-skills td {
    padding: 0.2em 0.5em;
}

#side-section-skills tr > td:nth-of-type(2) {
    text-align: right;
}

#main-section {
    width: 63%;
    height: inherit;
    margin: 0;

    display: flex;

    background-color: #fffffa;
}

#main-section-content {
    width: 100%;
    margin: 1em;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    color: #056296;
}

#main-section-content hr {
    margin-top: 0.1em;
    margin-bottom: 0;
    border: 5px solid #056296;
}

#main-section-content table {
    width: 100%;
    margin-top: 0.8em;

    border: 0;
    border-spacing: 0px;
}

#main-section-content td > ul {
    margin: 0;
    padding: 0em 1.25em;
}

#main-section-content td > ul > li {
    margin: 0.2em 0;
}

.main-section-content-containers {
    width: 100%;
    margin: 0;

    display: flex;
    flex-direction: column;

    color: #056296; 
}

.main-section-timeline {
    margin: 0.1em 0;
    font-weight: 400;
    text-align: right;
}

.main-section-description {
    font-style: italic;
}

.main-section-content-containers:nth-of-type(3) ul {
    margin-bottom: 0;
    
}

.main-section-content-containers:nth-of-type(4) ul {
    margin-bottom: 0;
    
}